---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-agents
spec:
  storageClassName: {{ .Values.pvc.agents.storageClassName }}
  accessModes:
    - ReadWriteOnce
    - ReadOnlyMany
  resources:
    requests:
      storage: {{ .Values.pvc.agents.storage }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Release.Name }}-coverage
spec:
  storageClassName: {{ .Values.pvc.coverage.storageClassName }}
  accessModes:
    - ReadWriteMany
    - ReadOnlyMany
  resources:
    requests:
      storage: {{ .Values.pvc.coverage.storage }}
